.main-title {
    font-family: 'Exo', sans-serif;
    text-transform:capitalize;
    font-size: 2.5rem;
    margin: 0;
    margin-left: 2rem;
    padding-top: 1rem;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(90deg,#1e3791 0%,#2948b1 40%,#3153c6 55%,#385fda 60%);
    background-image: linear-gradient(90deg,#2ca2b4,#5598de 24%,#7f87ff 45%);
    color: transparent; 
  
}

.contact-section{
    margin:1rem;
    box-shadow:2px 4px 12px rgb(0 0 0 / 8%);
    padding: 1rem;
    
 }

 .card-section{
    
     width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
     margin: 0 auto;
    
 }

 .information-contact{
   margin-left: 6rem;
   margin-top: 3rem;
 }

 .information-title{
    font-family: 'Exo', sans-serif;
    font-size: 1rem;
 }

 .contact-card{
     width: 20%;
     margin-top: 1rem;
     
     box-shadow:2px 4px 12px rgb(0 0 0 / 8%);
     padding:1rem;
     border-radius: 1rem;
     cursor: pointer;
     transition: all 0.2s ease;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
 .contact-card:hover{
    transform: scale(1.05);
}

.svg-social{
    width: 4rem;
    height: 4rem;
    padding:.2rem; 
    cursor: pointer;
}

.svg-others{
    width: 3rem;
    height: 3rem;
    padding:1rem;
    cursor: pointer;
}

.contact-card .social-media{
    text-decoration: none;
    color: #000;
}
.github{
    color: #000;
}

.github:hover{
    color: #6e5494 ;
}

.svg-icons{
    color:#000;
}
.svg-icons:hover{
    color:#0072b1;
}

  .contact-card img{
    width: 1.5rem;
    padding:1rem;
}  

.contact-card p,
.contact-card a{
    font-family: 'Exo', sans-serif;
}

/* For large devices */
 @media screen and (max-width:992px){
    .card-section{
        flex-direction: column;
        align-items: center;
    }
    .contact-card{
        width: 80%;
        
    }
   
} 

@media screen and (max-width:460px){
    .main-title {
        margin-left: 1rem;
        font-size: 2rem;
    }
    .contact-card{
        width: 95%;
        
    }
   
} 

/* 
@media screen and (max-width:576px){
    .card-section{
        flex-direction: column;
    }
    .contact-card{
        width: 100%;
    }
    
}

/* For small devices */
/*@media screen and (max-width:350px){
    .card-section{
        flex-direction: column;
    }
    .contact-card{
        width: 100%;
    }
} */