.about_me{
    margin: 1rem ;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    margin-top: 4rem;
    background-color: #f5f5f7;
}

.information{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.information .main-header{
  
    font-family: 'Exo', sans-serif;
    font-size: 4rem;
    margin-top: 2rem;
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-clip: text;
    /* background-image: linear-gradient(90deg,#1e3791 0%,#2948b1 40%,#3153c6 55%,#385fda 60%); */
    background-image: linear-gradient(90deg,#2ca2b4,#5598de 24%,#7f87ff 45%);
    color: transparent;  
}

.title{
    text-transform: uppercase;
}


.information p{
    font-family: 'Exo', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #1d1d1f;

}

.information button{
    background-color:#0071e3;
    border:1px solid #0071e3;
    font-family: 'Maven Pro', sans-serif;
    color: #fff;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 980px;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .3);
}

.information button a{
    text-decoration: none;
    color: #fff;
}

.information button:hover{
    color: #fff;
    background-color: #0077ED;;
    border: 1px solid #0077ED;;
}



/* For medium devices */
@media screen and (max-width:768px){
  .information .main-header{
    font-size: 2.2rem;
  }
  .about_me{
    flex-direction: column;
    align-items: center;
  }
  .main-img{
      width: 100%;
  }
  .main-img img{
    width: 100%;
} 
}

@media screen and (max-width:460px){
    .information .main-header{
      font-size: 2.2rem;
    }
}



