.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9;
    background-color: #34343495;
  
  }

  .modal-projets {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
    width: 50%;
  
    z-index: 10;
    background-color: #fff;
    border: 1px solid #dee2e6;
    box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
    border-radius: 0.5rem;
    padding: 1rem;
    /* overflow: hidden; */
  }

 
  .close-button{
    background-color: #f8f9fa; 
    font-family: 'Maven Pro', sans-serif;
    cursor: pointer;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: 4px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 93%;
  }

  .close-button p{
    -webkit-background-clip: text;
    background-clip: text; 
    background-image: linear-gradient(90deg,#2ca2b4,#5598de 24%,#7f87ff 45%);
    color: transparent;   
    text-transform: uppercase;
    font-size: 2rem;
  }

  .project-title{
    font-family: 'Exo', sans-serif;
    font-weight: 500;
  }

  .project-information{
    font-family: 'Maven Pro', sans-serif;
    font-size: 1.5rem;
    margin-left: 1rem;
  }

  .technology-section{
      margin-left: 1rem;
      display:flex;
  }

  .technology-section img{
      width: 3rem;
      margin-left: 0.5rem;
  }

  .github-icon{
    width: 3rem;
    margin-left: 1.5rem;
}

.projects-modal{
    width: 80%;
    margin: 1rem
}

/* For medium devices */
@media screen and (max-width:768px){
  .modal-projets{
      width: 95%;
  }

  .close-button{
    left:85%
  }
}

/* For large devices */
@media screen and (max-width:992px){
  .modal-projets{
      width: 95%;
  }

 
}